<div class="col-md-6 col-lg-4 mb-4">
  <div class="essay-card">
    <div class="card-content">
      <h3 class="essay-title">
        <a href="{% if page.essayurl %}{{ page.essayurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
          {{ include.page.title }}
        </a>
      </h3>
      <p class="essay-date">{{ include.page.date | date: "%B %d, %Y" }}</p>
      <p class="essay-summary">{{ include.page.content | markdownify | strip_html | truncatewords: 40 }}</p>
      {% if include.page.labels %}
      <div class="project-labels">
        {% for label in include.page.labels %}
        <span class="project-label">{{ label }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="text-center mt-auto">
      <a href="{% if page.essayurl %}{{ page.essayurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
