<nav>
  <a href="{{ site.baseurl }}/" class="logo">{{ site.data.bio.basics.name }}</a>
  
  <div class="hamburger-icon">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="nav-links">
    <li><a href="{{ '/work/#projects' | prepend: site.baseurl }}">Projects</a></li>
    <li><a href="{{ '/work/#essays' | prepend: site.baseurl }}">Writings</a></li>
    <li><a href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a></li>
    <li><a href="{{ '/recommend.html' | prepend: site.baseurl }}">Recommendations</a></li>
  </ul>
</nav>
