* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $base-font-family;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  padding: $base-spacing;
}

p {
  color: $light-text;
  margin-bottom: 1em;
}

a {
  position: relative;
  color: $text-color;
  text-decoration: none;
  transition: color $transition-duration $transition-timing;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.4rem; // adjust to sit nicely under text
    width: 0;
    height: 2px;
    background-color: black;
    transition: width $transition-duration $transition-timing;
  }

  &:hover {
    color: $grey;

    &::after {
      width: 100%;
    }
  }
}

.links {
  color: $link-color;
  text-decoration: none;
  transition: all $transition-duration $transition-timing;

  &:hover {
    &::after {
      background-color: $link-color;
    }
  }
}